// color
$main_color = #34cc99 // 主色
$depth_main_color = #25a77b // 深主色
$bg_color = #f8f8f8
$border_color = #dcdfe6 // 边框色
$danger_color = #f84d43 // 警告色
$add_color = #ff9900 // 新增色
$white_color = #fff // 白色



// font
$black_font_color = #303133
$grey_font_color = #606266
$light_grey_font_color = #909399
$white_font_color = #ffffff
$font_family = 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
$small_font_size = 12px
$normal_font_size = 14px
$small_title_size = 16px
$normal_title_size = 18px
$big_title_size = 20px

// px
$container_width = 1200px